/* Root (Global) Styles */

/* Defines global font and base properties that will be used throughout the website. */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* Preferred font stack */
  line-height: 1.5; /* Spacing between lines of text */
  font-weight: 400; /* Default font weight */

  color-scheme: light dark; /* Suggests that the content supports both light and dark color schemes */
  color: rgba(255, 255, 255, 0.87); /* Default text color */
  background-color: #242424; /* Default background color */

  /* Rendering and smoothing properties for better font display */
  font-synthesis: none; /* Controls the use of synthesized bold and oblique font faces */
  text-rendering: optimizeLegibility; /* Optimize text rendering for legibility */
  -webkit-font-smoothing: antialiased; /* Smooth the font on the level of the pixel */
  -moz-osx-font-smoothing: grayscale; /* Smooth the font on the level of the pixel for Firefox */
  -webkit-text-size-adjust: 100%; /* Adjust and control text inflation in web pages */
}

/* Styles for anchor (link) elements */
a {
  font-weight: 500;
  color: #646cff; /* Default link color */
  text-decoration: inherit; /* Inherits the text decoration from its parent */
}

/* Styles for anchor (link) elements when hovered over */
a:hover {
  color: #535bf2; /* Change color when hovered */
}

/* Styles for h1 (heading) elements */
h1 {
  font-size: 3.2em; /* Font size for the h1 heading */
  line-height: 1.1; /* Spacing between lines of text for h1 */
}

/* Button styling */
button {
  border-radius: 8px; /* Rounded corners */
  border: 1px solid transparent; /* Transparent border by default */
  padding: 0.6em 1.2em; /* Internal spacing */
  font-size: 1em; /* Font size for the button */
  font-weight: 500; /* Font weight for the button */
  font-family: inherit; /* Inherit the font from the parent element */
  background-color: #1a1a1a; /* Default background color */
  cursor: pointer; /* Indicates the button is clickable */
  transition: border-color 0.25s; /* Smooth transition for border color changes */
}

/* Button styles when hovered over */
button:hover {
  border-color: #646cff; /* Change border color when hovered */
}

/* Button styles when it has focus */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color; /* Add outline for accessibility when focused */
}

/* Media query for light mode */
@media (prefers-color-scheme: light) {
  /* Root (global) styles for light mode */
  :root {
    color: #213547; /* Text color for light mode */
    background-color: #ffffff; /* Background color for light mode */
  }

  /* Link styles in light mode when hovered over */
  a:hover {
    color: #747bff; /* Change link color in light mode when hovered */
  }

  /* Button styling for light mode */
  button {
    background-color: #f9f9f9; /* Button background color in light mode */
  }
}
